{# Want to make this and the style sheet configurable #}
{% extends '@CeradTourn/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('bundles/ceradtourn/css/forms.css') }}" media="all" />
{% endblock %}
   
{% block content %}
<h2>Account Password Reset</h2>

<h3>Password Recovery</h3>
<p>
  If none of your social networds are working and you know your user name but can't remember your password 
  then use this form to request a password reset.  
  If you don't get an email within a minute or so then check your <em>SPAM</em> folder.
</p>
{{ include('@CeradAccount/password_reset_form.html.twig') }}
{% endblock %}
