{% extends '@CeradTourn/layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="{{  asset('bundles/ceradtourn/css/schedule.css')}}"  media="all" />
{% endblock %}
  
{% block content %}
<h3>Referee Schedule</h3>
{% include('@CeradTourn/schedule/referee/search.html.twig') %}
{% include('@CeradTourn/schedule/referee/games.html.twig')  %}
{% endblock %}

{% block jquery %} 
{{ parent() }}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{{  asset('bundles/ceradtourn/js/zaysocore.js')}}"></script>
    <script>
$(document).ready(function() 
{
    // Clevel checkbox all functionality
    $('.zayso-checkbox-all').change(Zayso.checkboxAll);
});
</script>
{% endblock %}
