{% extends '@CeradTourn/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('bundles/ceradtourn/css/forms.css') }}" media="all" />
{% endblock %}
   
{% block content %}
<h2>Change Account Password</h2>
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock%}
