{% extends '@CeradTourn/layout.html.twig' %}

{% block content %}
<h3>Contact and Help Information</h3>
<p>
    For questions about the tournament, 
    <a href="http://section5.clubspaces.com/PageCustom.aspx?id=10&o=545142" target="_blank">please click here</a>.
</p>
<p>
    For help with the Zayso site itself, please call Art H at (256)457-5943.
</p>

{% endblock %}
