
# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
            games:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
            accounts:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
            persons:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
            legacy2012:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8

    orm:
        default_entity_manager:       default
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
            default:
                connection: default
                mappings:
                    CeradOrgBundle:    ~
                    CeradUserBundle:   ~
                    CeradPersonBundle: ~

            games:
               connection: games
               mappings:
                    CeradGameBundle: 
                        dir:    Resources/config/doctrine2
                        prefix: Cerad\Bundle\GameBundle\Doctrine\Entity
               dql:
                    datetime_functions:
                        date:  Cerad\Bundle\CoreBundle\Doctrine\DQL\Date
                        time:  Cerad\Bundle\CoreBundle\Doctrine\DQL\Time
                        month: Cerad\Bundle\CoreBundle\Doctrine\DQL\Month
                                       