parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_name_2013: s5games2013
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_disable_delivery: false

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    cerad_user_master_password: zayso
