<div class="account-signin">
<form 
    id     = "zayso_password_reset_form"
    class  = "zayso_password_reset_form" 
    action = "{{ path('fos_user_resetting_send_email') }}" 
    method = "post" 
    {{ form_enctype(passwordResetForm) }}
 >
    <fieldset>
        {{ form_row(passwordResetForm.username) }}
    </fieldset>
    <fieldset>
        <div class="zayso_form_controls">
            <span></span>
            <input type="submit" name="accountPasswordReset" value="Reset Password" />
        </div>
    </fieldset>
<div style="display: none;">{{ form_rest(passwordResetForm) }}</div>
</form>
</div>