{# Want to make this and the style sheet configurable #}
{% extends '@CeradTourn/layout.html.twig' %}

{% block content %}
<h3>Reset Password Email Sent</h3>
<p>
    The email was sent to: {{ email }}
</p>
<p>
    If the email does not arrive in a minute or two then check your <em>SPAM</em> folder.
</p>
{% endblock %}
